.recent {
  font-weight: 300;
  float: left;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #f00;
}

.recentWrap {
  position: relative;
  margin-bottom: 175px;
  padding-top: 0;
  overflow: hidden;
}

.recentImgStyle {
  width: 100%;
}
